.text-shadow {
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.7) ;
}


/*  Navbar  */
.nav-extended {
    font-family: 'Indie Flower', cursive;
    font-weight: 600;
}

nav.nav-extended {
    padding-left: 9px;
}

/* Navbar mobile */
.sidenav {
    background-color: #f57c00;
    opacity: 0.8;
    font-family: 'Indie Flower', cursive;
    font-weight: 600;
}


/* flash messages */
.flashes h4 {
    line-height: 3;
}

body {
    background-image:url(../images/library-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    
}

main {
    flex: 1 0 auto;
  }

.footer-copyright {
    font-family: 'Indie Flower', cursive;
    font-weight: 600;
}

