{% extends "base.html" %}
{% block content %}


{% for book in books %}
<!-- display database books in cards-->
<div class="row">
    <div class="col s12 m6">
        <div class="card">
            <div class="card-content">
                <span class="card-title"> {{ book.book_author }}</span>
                <span class="card-title"> {{ book.book_title }}</span>
            </div>
            <div class="card-content">
                <p>{{ book.details }}</p>
            </div>
            <div class="card-content">
                <p>{{ book.date_published }}</p>
            </div>
            <div class="card-content">
                <p>{{ book.genre }}</p>
            </div>
            <div class="card-action">
                 <a href="#">This is a link</a>
            </div>
        </div>
    </div>
</div>
{% endfor %}

    {% for book in books %}
        {{ book.book_author }}<br>
        {{ book.book_title }}<br>
        {{ book.date_published }}<br>
        {{ book.details }}<br>
        {{ book.genre }}<br>
    {% endfor %}

{% endblock %}    
