{% extends "base.html" %}
{% block content %}

<section>
    <!--  header image-->
    <div class="col photo-div" >
        <div class="container photo-container">
            <img class="header-photo" src="../static/images/book-header3.jpg" alt=" photo of a library">
        </div>
    </div>

</section>

<section>

</section>

<h3 class="center-align">Library</h3>
<!--  library-->
<div class="container s10 added_book">
    <ul class="collapsible">
        {% for book in books %}
        <li>
            <div class="collapsible-header white-text blue lighten-2 text-shadow">
                <a href="" class="btn-small red accent-4">Edit</a>
                <i class="fas fa-book"></i><strong>{{ book.book_title }}</strong>
            </div>
            <div class="collapsible-body white-text blue lighten-2 text-shadow">
                <span><strong>Author:</strong> {{ book.book_author }}</span><br>
                <span><strong>Published:</strong> {{ book.date_published }}</span><br>
                <span><strong>Genre:</strong> {{ book.genre }}</span><br>
                <span><strong>Summary:</strong> {{ book.details }}</span><br>
                <span><strong>Your reason:</strong> {{ book.your_reason }}</span><br>
                <span><strong><a href= "{{ book.link }}" class="Link.com">Link Here</a></strong></span>
                <p><em><strong>by:</strong> {{ book.created_by }}</em></p>
            </div>
        </li>
        {% endfor %}
    </ul>
</div>


{% endblock %}    
