{% extends "base.html" %}
{% block content %}

<!-- 
    {% for book in books %}
        {{ book.book_author }}<br>
        {{ book.book_title }}<br>
        {{ book.date_published }}<br>
        {{ book.details }}<br>
        {{ book.genre }}<br>
    {% endfor %} -->

{% for book in books %}
<div class="container s10">
    <ul class="collapsible">
        <li>
            <div class="collapsible-header white-text blue lighten-2 text-shadow"><i class="fas fa-book"></i>{{ book.book_title }}</div>
            <div class="collapsible-body white-text blue lighten-2 text-shadow">
                <span>By: {{ book.book_author }}</span><br>
                <span>{{ book.date_published }}</span><br>
                <span>{{ book.genre }}</span><br>
                <span>{{ book.details }}</span><br>
            </div>
        </li>
    </ul>
</div>
{% endfor %}

{% endblock %}    
