<!DOCTYPE html>
<html lang="en">

{% extends "base.html" %}
{% block content %}

<h3 class="center-align">Edit Book</h3>

<div class="row card-panel teal lighten-2 add_book_form">
    <form class="col s12" method="POST" action="{{ url_for('edit_book', book_id=book._id) }}" >
        <!--book author-->
        <div class="row">
            <div class="input-field col s10 offset-m1">
                <i class="fas fa-book-open prefix"></i>
                <textarea id="book_author" name="book_author" minlength="5" maxlength="50"
                         type="text" class="validate" required>
                        {{- book.book_author -}}
                </textarea>
                <label for="book_author" class="black-text">Book Author</label>
            </div>
        </div>
        <!--book title-->
        <div class="row">
            <div class="input-field col s10 offset-m1">
                <i class="fas fa-signature prefix"></i>
                <textarea id="book_title" name="book_title" minlength="5" maxlength="50"
                         type="text" class="validate" required>
                         {{- book.book_title -}}
                </textarea>
                <label for="book_title" class="black-text">Book Title</label>
            </div>
        </div>
        <!--date picker-->
        <div class="row">
            <div class="input-field col s10 offset-m1">
                <i class="far fa-calendar-check prefix"></i>
                <input id="date_published" name="date_published" type="text" 
                    value="{{ book.date_published }}" class="datepicker validate" required>
                <label for="date_published" class="black-text">Date Published</label>
            </div>
        </div>
        <!--book summary-->
        <div class="row">
            <div class="input-field col s10 offset-m1">
                <i class="fas fa-info-circle prefix"></i>
                <textarea id="details" name="details" minlength="5" maxlength="200"
                         type="text" class="validate" required>
                         {{- book.details -}}
                </textarea>
                <label for="details" class="black-text">Summary</label>
            </div>
        </div>
        <!--book genre -->
        <div class="row">
            <div class="input-field col s10 offset-m1">
                <i class="fas fa-genderless prefix"></i>
                <textarea id="genre" name="genre" minlength="5" maxlength="50"
                         type="text" class="validate" required>
                         {{- book.genre -}}
                </textarea>
                <label for="genre" class="black-text">Genre</label>
            </div>
        </div>
        <!--user's reason-->
        <div class="row">
            <div class="input-field col s10 offset-m1">
                <i class="fas fa-brain prefix"></i>
                <textarea id="your_reason" name="your_reason" minlength="15" maxlength="250"
                         type="text" class="validate" required>
                         {{- book.your_reason -}}
                </textarea>
                <label for="your_reason" class="black-text">Your Reason</label>
            </div>
        </div>
        <!--link to book-->
        <div class="row">
            <div class="input-field col s10 offset-m1">
                <i class="fas fa-brain prefix"></i>
                <textarea id="link" name="link" minlength="15" maxlength="250"
                         type="text" class="validate" required>
                         {{- book.link -}}
                </textarea>
                <label for="link" class="black-text">Link Here</label>
            </div>
        </div>
        <!--submit area-->
        <div class="row">
            <div class="col s10 center-align">
                <!--cancel button-->
                <a href="{{ url_for('get_books') }}" class="btn waves-effect waves-light red">
                    Cancel <i class="fas fa-window-close"></i>
                </a>
                <!--submit button-->
                <button class="btn waves-effect waves-light" type="submit">Edit Book
                    <i class="fas fa-pen-square right"></i>
                </button>
            </div>
        </div>
    </form>
</div>

{% endblock %}